<mat-toolbar>Lista de solicitudes</mat-toolbar>
<form class="example-container" [formGroup]="form" #frmProducto="ngForm" >
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h4>Filtros</h4>
            </mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-grid-list cols = "7" rowHeight="100px">
        <mat-grid-tile [colspan] = "2" [rowspan] = "1">
            <mat-form-field>
                <input matInput placeholder="Cod. Orden" formControlName="nro_orden">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan] = "2" [rowspan] = "1">
            <mat-form-field>
                <mat-select placeholder="Seleccionar Estado" [(value)]="idEstado">
                    <mat-option [value]="0">Seleccionar Estado</mat-option>
                    <mat-option *ngFor="let p of estados" [value]="p">
                        {{p}} 
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan] = "2" [rowspan] = "1">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan] = "1" [rowspan] = "1">
            <button mat-raised-button color="primary" (click)="buscarOrden()">Buscar</button>
        </mat-grid-tile>
    </mat-grid-list>
</form>
<br/>
<div *ngIf="!isAdmin">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="nro">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nro</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.idCotizacion}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="motivo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Motivo</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.motivo}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.descripcion}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.tipo}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.estado}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="fechaCreacion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.fechaCreacion | date: 'dd/MM/yyyy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef class="text-center">Acciones</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a type="button" mat-raised-button color="primary" class="button-center" href="/registrar-cotizacion/{{element.idCotizacion}}">
                    Ver Detalle
                </a>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"> 
        </mat-row>
    </mat-table>
</div>
<div *ngIf="isAdmin">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="nro">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nro</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.idCotizacion}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="motivo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Motivo</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.motivo}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.descripcion}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="solicitante">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Solicitante</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.usuario.nombres}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.tipo}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.estado}}</mat-cell>
        </ng-container>
    <!--
        <ng-container matColumnDef="area">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Area</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.area}}</mat-cell>
        </ng-container>
    -->
        <ng-container matColumnDef="fechaCreacion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.fechaCreacion | date: 'dd/MM/yyyy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef class="text-center">Acciones</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a type="button" mat-raised-button color="primary" class="button-center" href="/registrar-cotizacion/{{element.idCotizacion}}">
                    Ver Detalle
                </a>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns_admin"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns_admin;"> 
        </mat-row>
    </mat-table>
</div>
